<div>
  <ng-content select="h1"></ng-content>
  <div>value: {{ contactForm.value | json}}</div>
  <div>valid: {{ contactForm.valid | json}}</div>
  <div>invalid: {{ contactForm.invalid | json}}</div>
  <form [formGroup]="contactForm" novalidate (ngSubmit)="handleSubmit()">
    <div>
      <div>
        <label for="">Email Address</label>
      </div>
      <div>
        <input type="email" formControlName="email">
      </div>
    </div>
    <div>
      <div>
        <label for="">Your name</label>
      </div>
      <div>
        <input type="text" formControlName="name">
      </div>
    </div>
    <div>
      <div>
        <label for="">Your message</label>
      </div>
      <div>
        <textarea name="" id="" cols="30" rows="10" formControlName="message"></textarea>
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="contactForm.invalid">Send your message</button>
    </div>

  </form>
  <div>
    <ng-content select="p"></ng-content>
  </div>
</div>
