<div>
  <ng-content select="h1"></ng-content>
  <!-- <div>value: {{ contactForm.value | json}}</div>
  <div>valid: {{ contactForm.valid | json}}</div>
  <div>invalid: {{ contactForm.invalid | json}}</div> -->
  <form [formGroup]="contactForm" novalidate (ngSubmit)="handleSubmit()">
    <!-- <p class="text-red text-5xl font-bold uppercase" *ngIf="contactForm.invalid && contactForm.touched">You have errors. Solve them...</p> -->
    <div>
      <div>
        <label for="">Email Address</label>
      </div>
      <div>
        <input type="email" formControlName="email">
      </div>
      <div class="text-red text-xs" *ngIf="emailField.hasError('required') && emailField.touched ">Email is required</div>
    </div>
    <div>
      <div>
        <label for="">Your name</label>
      </div>
      <div>
        <input type="text" formControlName="name">
      </div>
    </div>
    <div>
      <div>
        <label for="">Your message</label>
      </div>
      <div>
        <textarea name="" id="" cols="30" rows="10" formControlName="message"></textarea>
      </div>
    </div>
    <div class="flex flex-row justify-start items-center">
      <button type="submit" [disabled]="contactForm.invalid">Send your message</button>
      <button type="reset" (click)="resetForm()">Reset form</button>
    </div>

  </form>
  <div>
    <ng-content select="p"></ng-content>
  </div>
</div>
